@media only screen and (min-width: 768px) and (max-width: 1220px) {
  body {
    background-color: lightblue;
  }
  .App {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    min-height: 100vh;
    height: auto;
    .form_main {
      grid-column: 1/5;
      justify-self: center;
      align-items: start;
      height: 50vh;
      width: 60vw;
      display: flex;
      justify-content: center;
    }
  }
}
